.he1{
    float: left;
    background-color: rgb(6, 196, 164);
    width: 80%;

}
.he2{
    float: right;
    background-color: rgb(88, 156, 235);
    width: 20%;
}

h1{
    text-align: center
}
.he3{
 position: center;
}

.pie{
    position: center;
    text-align: center;
    background-color: darksalmon;
    
}