.he1{
    text-align: center;
    background-color: cornflowerblue;
}

.todo{
    background-color: rgb(9, 247, 235);
}

.pie{
    position: center;
    text-align: center;
    background-color: darksalmon;
    
}